# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting Visual Studio Code after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1:  Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: The Left table is books, while the Right table is to_read

**Part B:** Using table 2, answer the following questions: 
- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change?  Why?

> Your Answer:This changed the table so that there are no NULL results. If no one cared about the book, it isnt represented in this.

In [ ]:
/*
-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;
*/

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Books is now the right table and to-read is the left.

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer: The  Left Join answers “What do we have, and is anyone interested?” while the Right Join answers “What are they interested in, do we have it?”

In [ ]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*/

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the `books` table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: You use a Full Join when you want to see everything, every book and every to read entry, even if they do not match. It shows all books even ones no one added to a list and all to-read entries even on ones that do not have a matching book. It gives you the complete picture of the data.

In [ ]:
/*
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;
*/

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> Your Answer: An inner join only shows rows that have a match in both tables. If a record in one table does not connect to anything in the other, it is left out completely

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer: No, the IS NOT NULL clause is not necessary for an inner join. An inner join already removes any rows that do not match in both tables

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.

> Your Answer:  Update the query in the code box below.

In [ ]:
SELECT TOP 30 
    b.title, 
    b.average_rating, 
    b.books_count,
    tr.user_id, 
    tr.book_id
FROM BooksDB.dbo.books             AS b
INNER JOIN BooksDB.dbo.to_read     AS tr       ON b.book_id = tr.book_id
ORDER BY tr.book_id;
--Sample Output:
Harry Potter and the Half-Blood Prince (Harry Potter, #6)	4.54	275	12	1
Harry Potter and the Half-Blood Prince (Harry Potter, #6)	4.54	275	192	1
Harry Potter and the Half-Blood Prince (Harry Potter, #6)	4.54	275	202	1
Harry Potter and the Half-Blood Prince (Harry Potter, #6)	4.54	275	244	1
Harry Potter and the Half-Blood Prince (Harry Potter, #6)	4.54	275	253	1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?
SELECT TOP 1
    b.title,
    COUNT(bt.tag_id) AS total_tags
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
    ON b.best_book_id = bt.goodreads_book_id
GROUP BY b.title
ORDER BY total_tags DESC;


Result:
Selected Poems | 400



**Part B:** Find the Most Popular Tag ID for That Book

SELECT TOP 1
    bt.tag_id,
    SUM(bt.count) AS total_usage
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS b
    ON b.best_book_id = bt.goodreads_book_id
WHERE b.title = 'Selected Poems'
GROUP BY bt.tag_id
ORDER BY total_usage DESC;

**Tag Id: 5207**

**Part C:Books I own** Part C – Find the Tag Name

SELECT tag_name
FROM BooksDB.dbo.tags
WHERE tag_id = 5207;
*Minimum Desired Output:* The tag name for the most popular tag used for the most tagged book.

**Tag Name:Books I own**

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

SELECT 
    tag_id,
    tag_name
FROM BooksDB.dbo.tags
WHERE tag_name LIKE '%running%';

**Your Tag and Tag Id:5324 Books-on-Running**

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

SELECT TOP 1
    b.title,
    SUM(bt.count) AS tag_count
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
    ON b.best_book_id = bt.goodreads_book_id
WHERE bt.tag_id = 5324
GROUP BY b.title
ORDER BY tag_count DESC;

*Minimum Desired Output: Once a Runner - tag count 1* title and tag count

**Once a Runner -- tag count 1**

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?
SELECT TOP 10
    b.title,
    tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
    ON b.best_book_id = tr.book_id;


Your Answer: INNER Join - b.best_book_id = tr.book_id

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.
SELECT TOP 10
    b.title,
    COUNT(tr.user_id) AS total_users
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
    ON b.best_book_id = tr.book_id
GROUP BY b.title
ORDER BY total_users DESC;

--Sample Output:
Title                                          total users
The Ultimate Hitchhiker's Guide to the Galaxy	1812
The Lord of the Rings: The Art of The Fellowship of the Ring	1499
Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)	1498
Harry Potter and the Goblet of Fire (Harry Potter, #4)	1484
The Known World	1352
*Minimum Desired Output:* title and aliased column

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

SELECT TOP 10 
    tr.user_id, 
    COUNT(tr.book_id) AS total_titles
FROM BooksDB.dbo.to_read AS tr
GROUP BY tr.user_id
ORDER BY total_titles DESC;

38457	117
28259	114
38076	110
44530	108
46555	107
46000	107
34162	105
34487	104
39174	103
47363	102


_Minimum Desired Output:_ `user_id` and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

SELECT *
FROM BooksDB.dbo.to_read
WHERE user_id = 44062;

44062	100
44062	333
44062	658
44062	883
44062	1055
44062	1114