# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE [Sep2025JunkDB].[justin_benedict].planned_makes (
    make_id INT IDENTITY(1,1) PRIMARY KEY,
    make_name VARCHAR(100),
    category VARCHAR(50),
    estimated_hours INT
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO [Sep2025JunkDB].[justin_benedict].planned_makes (make_name, category, estimated_hours)
VALUES 
    ('Data Portfolio', 'Coding Project', 12),
    ('Brisket Sandwich', 'Recipe', 6),
    ('Oak Table', 'Woodworking', 20);

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE [Sep2025JunkDB].[justin_benedict].planned_makes
SET estimated_hours = 15
WHERE make_name = 'Data Portfolio Dashboard';

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM [Sep2025JunkDB].[justin_benedict].planned_makes
WHERE make_name = 'Smoked Brisket Sandwich';

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE [Sep2025JunkDB].[justin_benedict].planned_makes;